<!DOCTYPE html>
<html lang="en">

{% load static %}
{% include "police/head.html" %}
<body class="">
	    {% include "police/nav.html" %}
		<!-- Header -->
		<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
			<div class="container-fluid">
				<div class="header-body">
					<!-- Card stats -->
					<div class="row">

			  <div class="col-xl order-xl-1">
				<div class="card bg-secondary shadow">
				  <div class="card-header bg-white border-0">
					<div class="row align-items-center">
					  <div class="col-8">
						<h3 class="mb-0">Add Criminal</h3>
					  </div>
					</div>
				  </div>
				  <div class="card-body">
					  <div class="pl-lg-12">
                          <h1>SUCCESSFULLY ADDED</h1>
						</div>
					  </div>

				  </div>
				</div>
			  </div>

		  </div>
				</div>
			</div>
		</div>

	{% include "police/scripts.html" %}
	<script type="text/javascript">

	</script>
</body>

</html>